* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

.row {
    padding: 10px 5rem;
}

/* other things */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.products-header {
    display: flex;
    justify-content: space-between;
}

.products-grid {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.products-grid-2 {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

.product:hover {
    transform: scale(1.1);
}

.product img {
    border: 1px solid black;
    border-radius: 10px;
}

.product-details {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 2rem;
}

.product-base-info {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
}

.product-base-info .product-img {
    flex: 0 0 30%;
    max-width: 30%;
    justify-content: center;
    padding: 10px 20px;
}

.product-base-info .product-info {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 10px 20px;
}

.product-description {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.product-reviews {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.customer-review {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.customer-review .profile {
    flex: 0 0 30%;
    max-width: 30%;
}

.customer-review .profile img {
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.customer-review .review {
    flex: 0 0 70%;
    max-width: 70%;
    flex-direction: column;
}

.customer-review .review .review-score {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.customer-review .review .review-content {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

@media (max-width: 1250px) {
    .products-grid, .products-grid-2 {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1000px) {
    .product-base-info {
        flex-direction: column;
    }

    .product-base-info .product-img {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .product-base-info .product-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 960px) {
    .products-grid, .products-grid-2 {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 680px) {
    .products-grid, .products-grid-2 {
        grid-template-columns: auto;
    }
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    header {
        height: max-content;
    }
}

@media (max-width: 415px) {
    .products-header {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    nav ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}
