* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

.row {
    padding: 10px 5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-control input {
    margin-left: 1rem;
}

form button {
    margin-top: 1rem;
}

.login-form span {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-box {
    display: flex;
    flex-direction: row;
}

main {
    height: 100vh;
}

aside {
    left: 0;
    width: 200px;
    border: 1px solid black;
}

aside .row {
    padding: 1rem 2rem;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-nav {
    display: flex;
    flex-direction: column
}

.sidebar-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
